[Unit]
Description=Xmania SkinMarket ASP.NET Core Web App
After=network.target

[Service]
Type=simple
User=xmania
Group=www-data
WorkingDirectory=/var/www/xmania/publish
ExecStart=/usr/bin/dotnet /var/www/xmania/publish/SkinMarket.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=xmania-web
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:5000
EnvironmentFile=/etc/xmania/xmania.env

[Install]
WantedBy=multi-user.target
